<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta text has-text-right is-capitalized is-size-5 has-text-weight-bold">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text is-capitalized is-size-5 has-text-weight-bold">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

