<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adventure Brindles Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1 class="is-size-1 has-text-weight-bold">ADVENTURE BRINDLES BLOG</h1>
        <nav>

          <button class='btn'>
            <a class="is-size-5 has-text-white has-text-weight-bold" href="/">HOME</a>
          </button>

          {{#if loggedIn}}
          
            <button class='btn'>
              <a class="is-size-5 has-text-white has-text-weight-bold" href="/dashboard">MY DASHBOARD</a>
            </button>

            <button class='btn is-size-5 has-text-white has-text-weight-bold' id="logout">LOGOUT</button>

          {{else}}
          <button class="btn">
            <a class="is-size-5 has-text-white has-text-weight-bold" href="/login">LOGIN</a>
            </button>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer class="is-size-4 has-text-white has-text-weight-bold">
        Thanks for visiting! Arf! Arf! 
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>