<div class="container">
  {{> nav/nav-block}}

  <div class="main">

    <div class="tree-data">

      <div class="steps">

        <div class="buttons">
          <p class="list has-text-white is-size-3 has-text-weight-bold">Step 1:</p>
          <form action="/uploadfile" enctype="multipart/form-data" method="post">
            <label class="button is-black link has-text-success is-size-5">Select File
              <input type="file" name="uploadfile" accept='csv'>
            </label>
          </form>
        </div>

        <div class="buttons">
          <p class="list has-text-white is-size-3 has-text-weight-bold">Step 2:</p>
          <input class="button is-black link has-text-success is-size-5" type="submit" value="Upload CSV">
        </div>

        <div class="buttons">
          <p class="list has-text-white is-size-3 has-text-weight-bold">Step 3:</p>
          <button class="button is-black is-size-5 has-text-success" id="getTrees">
            View Data
          </button>
        </div>

      </div>

  <footer>
   
  </footer>
</div>