<section>
  <h2 class="is-size-3 has-text-weight-bold">Create New Post</h2>
   <form class="new-post-form">
    <div>
      <label for="post-title" class="is-size-4 has-text-weight-bold">Title</label>
      <input type="text" id="post-title" name="post-title" class="is-size-4"/>
    </div>
    <div>
      <label for="content" class="is-size-4 has-text-weight-bold">Content</label>
      {{!-- <textarea name="comment-body" class="is-capitalized is-size-4"value='{{post.content}}'></textarea> --}}
      <input id="content" name="content" class="textarea is-size-4"/>
    </div>
    <button type="submit" class="btn is-size-5 has-text-white has-text-weight-bold">Create</button>
  </form>
</section> 

{{#if posts.length}}
<section>
  <h2 class="is-size-3 has-text-weight-bold">Your Posts:</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <button class="btn">
      <a class="is-size-5 has-text-white has-text-weight-bold" href="/dashboard/edit-post/{{post.id}}" class="edit-link">Edit post</a>
   </button>
    </li>
    {{/each}}
  </ol>
  {{else}}
<h3 class="is-size-4 has-text-weight-bold">You have not posted any content yet</h3>
{{/if}}
</section>

<script src="/javascript/add-post.js"></script>