<section>
  <h2>Create New Post</h2>
   <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content">Content</label>
      <input id="content" name="content" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section> 

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit-post/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
  {{else}}
<h3>You have not posted any content yet</h3>
{{/if}}
<a href="/dashboard/add-post"><button class='button is-info m-2'>Add a New Post</button></a>
</section>
<script src="/javascript/add-post.js"></script>