<form class="login-form ">
  <div>
    <label for="email-login" class="is-size-3 has-text-weight-bold">EMAIL:</label>
    <input type="text" id="email-login" class="is-size-3" />
  </div>
  <div>
    <label for="password-login" class="is-size-3 has-text-weight-bold">PASSWORD:</label>
    <input type="password" id="password-login" class="is-size-3"/>
  </div>
  <div>
    <button type="submit" class="btn is-size-4 has-text-white has-text-weight-bold">LOGIN</button>
  </div>
</form>

<form class="signup-form ">
  <div>
    <label for="username-signup" class="is-size-3 has-text-weight-bold">USERNAME:</label>
    <input type="text" id="username-signup" class="is-size-3"/>
  </div>
  <div>
    <label for="email-signup" class="is-size-3 has-text-weight-bold">EMAIL:</label>
    <input type="text" id="email-signup" class="is-size-3"/>
  </div>
  <div>
    <label for="password-signup" class="is-size-3 has-text-weight-bold">PASSWORD:</label>
    <input type="password" id="password-signup" class="is-size-3"/>
  </div>
  <div>
    <button type="submit" class="btn is-size-4 has-text-white has-text-weight-bold">SIGNUP</button>
  </div>
</form>

<script src="/javascript/login.js"></script>
