html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: radial-gradient(yellow, goldenrod, magenta);
}
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 2px solid black;
  display: flex;
  text-align: center;
  margin: 15px;
}

header h1 {
  margin-top: 15px;
  border-bottom: 4px solid black;
}

h1, h2, h3 {
  color: rebeccapurple;
}
nav {
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn {
  background-color: rebeccapurple;
  margin:10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 1%;
}
.btn:hover {
  background-color:mediumorchid;
}

form label {
  display: block;
}

 .post {
   border-style: ridge;
   border-radius: 5px;
   border-width: 3px;
   border-color: black;
   display: flex;
   flex-direction: column;
  margin-bottom:10px;
  padding:10px;
}

.title-info {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  color: rebeccapurple;
}

.title-btn {
  min-width: 100%;
  padding: 10px;
}

footer {
  border-top: 2px solid black;
  display: flex;
  text-align: center;
  padding: 1%;
}

.comment-body{
min-width: 20vw;
height: 10vh;
font-size: 25px;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color:orchid;
}

.login-form, .signup-form {
  border-style: ridge;
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
  margin-bottom:10px;
  padding:10px;
  width:fit-content;
  text-align: center;
  align-items: center;
}
